@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto",Arial,Helvetica,sans-serif;
}
.header {
  background: #2196F3 url("../img/header/header-logo.svg") 25px center no-repeat;
}
.header__menu-link {
  &:first-child {
    background: url("../img/header/about-game.svg")center 10px no-repeat;
  }
  &:nth-child(2) {
    background: url("../img/header/best-score.svg")center 9px no-repeat;
  }
  &:last-child {
    background: url("../img/header/game-settings.svg")center 9px no-repeat;
  }
}

.label-file {
  background: url("../img/about-game/avatar.svg") center / cover no-repeat;
}

.header__btn-wrapper {
  display: flex;
  flex: 0 0 207px;
  justify-content: flex-start;
}

.about-game-rule {
  background: url("../img/about-game/point-1.svg") 10px 10px / 40px 40px no-repeat;
}

.about-game-config {
  background: url("../img/about-game/point-2.svg") 10px 10px / 40px 40px no-repeat;
}

.about-game-start {
  background: url("../img/about-game/point-3.svg") 10px 10px / 40px 40px no-repeat;
}

.about-game-form {
 background: url("../img/about-game/maket-form.png") center / cover no-repeat;
}

.about-game-settings {
 background: url("../img/about-game/maket-settings.png") center / cover no-repeat;
}

.about-game-field {
 background: url("../img/about-game/maket-field.png") center / cover no-repeat;
}

.hide {
  display: none !important;
}

.card-front {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card-back {
  background-image: url("../img/game-cards/back-card.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}
